/*-----gif 생성 화면 스타일-----*/
.container-fluid {
    height: 100%;
}
.tb5 {
    border:2px solid #456879;
    border-radius:10px;
    height: 22px;
    text-align: center;
}
/*-----비디오 영역 스타일-----*/
/*1. 업로드 부분*/
/*업로드 전체 영역*/
#drop {
    margin: 0px;
    padding: 0px;
}
/*버튼을 활용한 업로드 영역*/
#selectVideo {
    margin: inherit;
    padding: inherit;
}
/*드래그 앤 드랍 영역*/
#dropUpload{
    margin: inherit;
    padding: inherit;
    visibility: collapse;
    width: 0px;
}
/*2. 비디오 제어 영역*/
#videoControl {
    float: right;
    margin: inherit;
    display: inline-block;
    width: 49%;
    height: 49%;
}
/*gif 만들기 위한 비디오 제어 영역 전체*/
#controlVideo_1 {
    float: right;
    margin: inherit;
    display: inline-block;
    width: 100%;
    height: 100%;
}
/*gif 변환 스피드 제어*/
#speed {
    display: inline-block;
    width: 70%;
}
/*gif 변환 스피드 제어-1
#gifSpeed {
    margin: 0%;
    display: block;
    width: 40%;
    padding-right: 1%;
}*/
/*짤을 어느 정도 비율로 만들건지 제어하는 영역
#videoSize {
    margin: 0%;
    display: block;
    width: 40%;
}*/
/*짤을 어느 정도 비율로 만들건지 제어하는 영역-2
#sizeVideo {
    width: 50%;
}*/
/*GIF 구간 설정*/
#whatdoyouwanttosee {
    float: right;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.dropDownForSettingBtn {
    border-radius:10px;
    width: 100%;
    height: 100%;
    background-color: #3498DB;
    color: white;
    padding: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropDownForSettingBtn:hover, .dropDownForSettingBtn:focus {
    background-color: #2980B9;
}

.dropDownForSetting {
    margin-right: 10px;
    position: relative;
    display: inline-block;
}

.dropDownForSetting_content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropDownForSetting_content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.dropDownForSetting a:hover {background-color: #ddd;}

.show {display: block;}

/*gif 만들기 위한 비디오 제어 영역 전체_2*/
#controlVideo_2 {
    margin: inherit;
    padding-top: 1%;
    padding-bottom: 1%;
    display: block;
 }
/*짤을 어느 정도 속도로 재생할건지 제어하는 영역*/
#frameControl {
    margin: inherit;
    padding: inherit;
}
.buttonStyle1 {
    display: inline-block;
    border-radius: 4px;
    background-color: #428bca;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-size: 25px;
}

.buttonStyle1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttonStyle1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
}

.buttonStyle1:hover span {
    padding-right: 25px;
}

.buttonStyle1:hover span:after {
    opacity: 1;
    right: 0;
}
/*3. 비디오가 재생되는 영역*/
#vMake {
    margin: inherit;
    padding: inherit;
    display: inline-block;
    width: 49%;
    height: 49%;
}
/*4. 결과*/
/*변환 성공 여부 확인*/
#output {
    margin: inherit;
    padding: 1%;
    display: inline;
}
/*로딩바*/
.bar {
    width: 100%;
    height: 20px;
    border: 1px solid #2980b9;
    border-radius: 3px;
    background-image:
            repeating-linear-gradient(
                    -45deg,
                    #2980b9,
                    #2980b9 11px,
                    #eee 10px,
                    #eee 20px /* determines size */
            );
    background-size: 28px 28px;
    animation: move .5s linear infinite;
}

@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 28px 0;
    }
}

/*background-color: #3498db;*/
/*-----gif가 보여지는 영역-----*/
/*canvas style*/
#c {
    display: none;
}