<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    <context:component-scan base-package="com.wepplication.Controller.MVC"> <!-- Component 패키지 지정 -->
        <!--<context:include-filter expression="org.springframework.stereotype.Controller" type="annotation"/>-->
        <!--<context:include-filter expression="org.springframework.stereotype.Service" type="annotation"/>-->
        <!--<context:include-filter expression="org.springframework.stereotype.Repository" type="annotation"/>-->
    </context:component-scan>
    <util:properties id="config">
        <prop key="REST_URL">http://localhost:8081</prop>
    </util:properties>

    <!-- google Class Bean설정 추가 -->
    <!-- 클라이언트ID와 보안비밀 세팅-->
    <bean id="googleConnectionFactory"
          class="org.springframework.social.google.connect.GoogleConnectionFactory">
        <constructor-arg value="998534181285-s691qokv92grlednr969p4u7lvjihe98.apps.googleusercontent.com" />
        <constructor-arg value="CT_-RqdDjbbIfYEm3nIHIzQ8" />
    </bean>
    <!-- 승인된 자바스크립트 원본과 승인된 리디렉션 URI -->
    <bean id="googleOAuth2Parameters" class="org.springframework.social.oauth2.OAuth2Parameters">
        <property name="scope" value="https://www.googleapis.com/auth/plus.login" />
        <property name="redirectUri" value="http://localhost:8080/oauth2login" />
    </bean>

    <bean id="authInfo" class="com.wepplication.Form.AuthInfo">
        <constructor-arg
                value="998534181285-s691qokv92grlednr969p4u7lvjihe98.apps.googleusercontent.com" />
        <constructor-arg value="CT_-RqdDjbbIfYEm3nIHIzQ8" />
    </bean>
</beans>